<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>RecipeRepo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="${recipe.name}"></h1>
    <p th:text="${recipe.description}"></p>
    <p th:text="${'Servings: ' + recipe.servings}"></p>
    <ul>
        <li th:each="ingredient : ${recipe.ingredients}"
            th:text="${ingredient.name + ', ' + ingredient.quantity + ' ' + ingredient.unit}">
        </li>
    </ul>
    <ol>
        <li th:each="step : ${recipe.steps}"
            th:text="${step}">
        </li>
    </ol>
</body>
</html>